.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(155, 133, 133, 0.25);
}

.Dialog {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    padding: 20px;
    position: absolute;
    top: 54%;
    left: 88%;
    transform: translate(-45%, -55%);
    z-index: 1;
}


.CrossIconS {
    font-size: 2vw;
    cursor: pointer;
}

.CrossIconS:hover {
    animation-name: CrossIcon;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.ModalBody {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.ProductCard {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 1.5em;
    margin: .5em;
}

.PaymentMethod {
    background-color: transparent;
    border: none;
    color: #c4c4c4;
}

.Total {
    text-align: center;
}

.Order {
    display: flex;
    justify-content: center;
}

.OrderButton {
    font-size: 1vw;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.OrderButton:hover {
    animation-name: OrderButton;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.Link {
    color: rgb(105, 59, 212);
}

p {
    font-size: 1em;
}

/* key frames */
@keyframes CrossIcon {
    100% {
        color: purple;
    }
}


@keyframes OrderButton {
    100% {
        padding-left: 4em;
        padding-right: 4em;
        background-color: transparent;
        color: rgb(216, 56, 216);
    }
}

/*mobile media queries */

@media (max-width: 460px) {
    .Dialog {
        top: 40%;
        left: 25%;
        transform: translate(-20%, -40%);
    }

    .CrossIcon {
        font-size: 10vw;
    }

    h1 {
        font-size: 1.3em;
    }

    .InfoIcon {
        font-size: 30px;
    }
}