.body-content {
 min-height: 100vh;
 margin-top: 5rem;
}

.back{
    background-color: #1C1A1A;
}
.white{
    border-color: white;
    color: white;
}

/* this modifies categories cards size */
img {
    max-width: 20vw;
}

.letter-white{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #E8E8E8;
    font-style: normal;
}
.letter-pink{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #DF0789;
}

.see-products{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: larger;
}
.see-promotion{
    font-size: x-large;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}
.back-promotion{
    font-size: xx-large;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
}